<div class="bycity-body">

  <div class="bycity-menu-line">
    <a href="signup" class="bycity-home-button">
      <img src="/assets/home-btn.png" alt="home-button-image"></a>
    <div class="bycity-menuLinks">
      <a href="/logout">Logout</a>
      <a href="/unsign">Un-Sign</a>
      <a href="/userProfile">Edit Profile</a>
      <a href="/signers">Our Supporters</a>
      <a href="/petition">Petition</a>
    </div>
  </div>

  <h1 class="supporters-list">Our Supporters List</h1>
  <a href="/signers" class="back">back</a>

  <section class="bycity-wrapper">


    < <ol class="bycityTable">
      {{#signersData}}
      <li>
        <div class="li">
          <p class="name">{{firstname}} {{lastname}}</p>
          <p class="city">{{city}}</p>
          <p class="country">{{country}}</p>
          <p class="age">{{age}} years old</p>
          <p class="dataAndTime">Signed on {{dateFormat ts "Do.MM.YYYY"}}</p>
        </div>
      </li>
      {{/signersData}}
      </ol>
  </section>
  <footer class="bycity">
    <p class="footer-text">© 2020 Dalia Abu-Soud</p>
  </footer>
</div>