<div class="bycountry-body">

  <div class="bycountry-menu-line">
    <a href="signup" class="bycountry-home-button">
      <img src="/assets/home-btn.png" alt="home-button-image"></a>
    <div class="bycountry-menuLinks">
      <a href="/logout">Logout</a>
      <a href="/userProfile">Edit Profile</a>
      <a href="/signers">Supporters</a>
    </div>
  </div>

  <h1 class="supporters-list">Supporters In {{countryName}}</h1>
  <a href="/signers" class="back">back</a>

  <section class="bycountry-wrapper">


    < <ol class="bycountryTable">
      {{#signersData}}
      <li>
        <div class="li">
          <p class="name">{{firstname}} {{lastname}}</p>
          <p class="city">{{city}}</p>
          <p class="country">{{country}}</p>
          <p class="age">{{age}} years old</p>
          <p class="dateAndTime">Signed on {{dateFormat ts "Do.MM.YYYY"}}</p>
        </div>
      </li>
      {{/signersData}}
      </ol>
  </section>
  <footer class="bycountry-footer">
    <p class="footer-text">© 2020 Dalia Abu-Soud</p>
  </footer>
</div>