<div class="petition-body">

    <section class="petition-wrapper">

        <div class="petition-menu-line">
            <a href="petition" class="petition-home-button">
                <img src="/assets/home-btn.png" alt="home-button-image"></a>
            <div class="petition-menuLinks">
                <a href="/logout">Logout</a>
                {{#if sigAvailable}}
                <a href="/userProfile">Edit Profile</a>
                <a href="/signers">Supporters</a>
                {{/if}}


            </div>
        </div>


        <section class="text-section">
            <p class="hello-name-responsive">Hello {{firstName}}! </p><br>
            <br><p class="The-Story"> The Story...</p>
            <p class="the-text">A 35 years old finance expert who moved from the Middle East to Germany in 2017.
            Finance in Deutsch is definitely not easy 😎 which made it hard for her to find a job in the field of her experties.

            In 2020, she decieded not to stop and not give up but to dump finance and to start all over again.
            She then enrolled into a web development bootcamp, but due to the lack of her tech knowlage, she had to put extra effort to work harder than others.<br>

            <br>On her 3rd week in this bootcamp, and for the purpose of better understanding and extra practice, she watched a coding related YouTube video to help her better understand a certain coding method to solve one of the daily exercises. She coded
            along, learned extra methods & finally added more code form what she have learned in class.
            Unfortunately, some days later, she was accused of commiting frogery in copying code. She tried explaining over and over again that she was coding along with this youtube coder for the purpose of learning and that she did not copy the code as is, but sadley, there was no cooperation from this academy and she was banned from getting a graduation certificate<br>
            </p>
            

        </section>

        {{#unless sigAvailable}}
        <section class="signature-section">
            <p class="hello-name">Hello {{firstName}}! <br></p>
                <br><p class="sign-this">This webiste was built by this lady...
                <br>Weeks of hard work & sleepless nights...<br>
                <br>Please sign this petition if you think that she did a good Job!
                {{!-- <br>This Petiton Will Be Her Accredited Certificate! --}}
            </p>

            <form class="sigForm">
                <div class="canvas-wrapper">
                    <canvas class="sig-canvas">
                        <input type="image" name="sigImage" class="signatureUrl" required>
                    </canvas>

                    <canvas class="empty-canvas"></canvas>
                </div>

                <div class="errorMsg"> Please sign in the white box before submitting.</div>

                <div class="buttons">
                    <button type="submit" class="submit-button">Submit</button>
                    <button type="clear-sig" class="clear-sig">Clear Signature</button>
                </div>
            </form>
        </section>
        {{/unless}}

        {{#if sigAvailable}}
        <section class="alreadySigned">
            <div class="helloUser">
                <p> Welcome Back {{firstName}}!
                    <p />
            </div>
            <p>You have signed this petition on: <strong>{{dateFormat ts "DD.MM.YYYY"}}</strong></p>
            <div>
                <span class="userCount">{{usersCount}}</span>
                <span>supporters have signed this petition</span>
            </div>
            <p class="seeAllSigners"><a href="/signers">See who signed along!</a> </p>

        </section>
        {{/if}}

        <footer class="petitionFooter">
            <p class="footer-text">© 2020 Dalia Abu-Soud</p>
        </footer>
    </section>


    </section>
</div>

<script>
    eSignature();
    userSignature()
</script>