<div class="signers-body">
    
        <div class="signers-menu-line">
            <a  href="signup" class="signers-home-button">
            <img src="/assets/home-btn.png" alt="home-button-image"></a>
            <p class="surfLinks">
                <a href="/logout">Logout</a> <br>
                <a href="/petition">Petition</a>
            </p>

        </div>

    <h1 class="supporters-list">Our Supporters List</h1> 

    <section class="signers-wrapper" >
       
        <
        <ol class="signersTable">
        {{#signersData}}
        <li>
            <div class="li">
                <p class="name">{{firstname}} {{lastname}}</p>  
                <p class="city">{{city}}</p> 
                <p class="country">{{country}}</p>
                <p class="dataAndTime">Signed on {{dateFormat ts "MMMM Do YYYY"}}</p>
            </div>
        </li>
        {{/signersData}}
    </ol>
    </section>
    <footer class="signersFooter"><p class="footer-text">© 2020  Dalia Abu-Soud</p></footer>  
</div>
